<h1 class="display-4">
  <span>Welcome to </span>
  <span>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0035/3782/9955/products/Detroit-Tigers-D-Black-Decal.jpg" height="75" width="55" />events
  </span>
</h1>
<br />
<div class="row">
  <div class="col-4">
    <div class="card">
      <img class="card-img" src="https://cdn8.dissolve.com/p/D985_52_042/D985_52_042_1200.jpg" />
      <div class="card-img-overlay overlay-dark text-white d-flex justify-content-center align-items-end" style="background-color: rgb(0, 0, 0, 0.3)">
        <h3 class="display-4">Meet Detroit</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img class="card-img" src="https://www.challengedetroit.org/alexandrazisser/files/2014/04/IMG_2426.jpg" height="233"/>
      <div class="card-img-overlay overlay-dark text-white d-flex justify-content-center align-items-end" style="background-color: rgb(0, 0, 0, 0.3)">
        <h3 class="display-4">Grow Detroit</h3>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img class="card-img" src="https://images.fineartamerica.com/images-medium-large-5/joe-louis-fist-detroit-mi-b-and-g-art.jpg" />
      <div class="card-img-overlay overlay-dark text-white d-flex justify-content-center align-items-end" style="background-color: rgb(0, 0, 0, 0.3)">
        <h3 class="display-4">Be Detroit</h3>
      </div>
    </div>
  </div>
</div>
<br />

<button class="btn btn-outline-dark btn-block btn-lg text-uppercase" routerLink="/events">Start exploring</button>
